---
import BaseLayout from "../layouts/BaseLayout.astro";
import LegalShell from "../components/LegalShell.astro";
---

<BaseLayout title="Support | Unslop" description="Support for Unslop.">
  <LegalShell title="Support">
    <section class="space-y-3">
      <p>
        <a class="underline" href="https://github.com/sapountzis/Unslop/issues" target="_blank" rel="noreferrer">Open an issue on GitHub</a>.
      </p>
    </section>
  </LegalShell>
</BaseLayout>
